{% extends "base.html" %}

{%block body%}

                                <h3 class="title is-5" style="text-align: center"> {{title}}</h3>
<br />


<div class="row">
    {% for coin in coins %}
    <div class="col-md-3" style="text-align: center;">
        <a target="_blank" rel="noreferrer" href="https://en.numista.com/catalogue/type{{coin.id}}.html" class="d-block mb-4 h-100">
            <img height="100" src="{{coin.obverse}}">
            <img height="100" src="{{coin.reverse}}">
            <p style="text-align: center;"> {{coin.title}}</p>
        </a>
    </div>
    {%endfor%}
</div>

{%endblock%}