{% extends "base.html" %}

{%block body%}

        <h3 class="mt-5">Tiago's Coin Herbarium</h3>
            <p class="lead">
                This personal world coin collection is inspired by <a href="coinzoo.net">Daniel's Coin Zoo</a>,
                but for coins depicting different plants. I'll be collecting circulating coin types featuring plants in
                the reverse or obverse. Have fun!
            </p>
            <br />
            <div style="text-align: center">
                <div class="row" style="text-align: center">
                    <div class="col-sm" style="text-align: center;">

                        <a href="/all.html"><img height="200"
                                src="https://upload.wikimedia.org/wikipedia/commons/d/d5/500_yen_reverse.jpg">
                        </a>
                        <p style="font-size: 30px;"> all plants</p>
                    </div>
                    <div class="col-sm" style="text-align: center;">

                        <a href="/family.html"><img height="200"
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Diversity_of_plants_image_version_5.png/800px-Diversity_of_plants_image_version_5.png">
                        </a>
                        <p style="font-size: 30px;"> by family</p>
                    </div>
                    <div class="col-sm" style="text-align: center;">

                        <a href="/country.html"><img height="200"
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Brazil_topo.jpg/1024px-Brazil_topo.jpg">
                        </a>
                        <p style="font-size: 30px;"> by country</p>
                    </div>

                </div>
                <br/>
                <div class="row" style="text-align:left">
                <div class="col-sm" style="text-align: left;">
                        <h4 class="mt-4">Tech details</h4>

                            <p>The website uses <a href="https://www.wikidata.org/wiki/Wikidata:Main_Page">Wikidata</a>'s
                            structured content on coin types.
                            Coins are catalogued on <a href="https://en.numista.com/">Numista</a> and the data is parsed
                            via the <a href="https://en.numista.com/api/doc/index.php">Numista API</a>.
                            The information is displayed via Wikidata SPARQL queries.Some countries do not allow reproduction of coin images under open licenses. Others do
                            allow, but       information is not on Wikidata yet.
                            Both of these pictures are currently not shown. See <a href="https://commons.wikimedia.org/wiki/Commons:Currency">Commons:Currency</a>
                            for image licensing details.
                        </p>
                </div>
                </div>

{%endblock%}